@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Fullness: @ViewBag.Fullness | Happiness: @ViewBag.Happiness | Meals: @ViewBag.Meals | Energy: @ViewBag.Energy</h2>
    <div style="border: 1px solid black;">
        <p>@ViewBag.story</p>
    </div>
    @{
        if(@ViewBag.win == 0)
        {
            <form asp-controller="Home" asp-action="Feed">
                <button>Feed</button>
            </form>
            <form asp-controller="Home" asp-action="Play">
                <button>Play</button>
            </form>
            <form asp-controller="Home" asp-action="Work">
                <button>Work</button>
            </form>
            <form asp-controller="Home" asp-action="Sleep">
                <button>Sleep</button>
            </form>
        }
        else
        {
            <form asp-controller="Home" asp-action="Restart">
                <button>Restart</button>
            </form>
        }
    }
</div>
